table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}

.id-cell {
  text-align: center;
}

.header__cell {
  min-width: 60px;
}

tr:not(:first-child):hover {
  background: lightgrey;
  cursor: pointer;
}
